In [1]:
import numpy as np
import pandas as pd

## Question 1

In [2]:
data=np.random.rand(4,4)
df=pd.DataFrame(data)
df

          0         1         2         3
0  0.043413  0.182837  0.029470  0.692623
1  0.137526  0.719370  0.067616  0.682069
2  0.308064  0.195361  0.067514  0.456105
3  0.926984  0.979502  0.991398  0.249038

## Question 2

In [3]:
new_columns = {0: 'Random value 1', 1: 'Random value 2', 2: 'Random value 3', 3: 'Random value 4'}
df.rename(columns=new_columns, inplace=True)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.043413        0.182837        0.029470        0.692623
1        0.137526        0.719370        0.067616        0.682069
2        0.308064        0.195361        0.067514        0.456105
3        0.926984        0.979502        0.991398        0.249038

## Question 3

In [4]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.353997        0.519268        0.288999        0.519958
std          0.397386        0.395794        0.468610        0.211004
min          0.043413        0.182837        0.029470        0.249038
25%          0.113998        0.192230        0.058003        0.404338
50%          0.222795        0.457365        0.067565        0.569087
75%          0.462794        0.784403        0.298561        0.684707
max          0.926984        0.979502        0.991398        0.692623

## Question 4

#### Check for null values

In [5]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

#### Data type of columns

In [6]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

## Question 5

#### Location method

In [7]:
df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0        0.182837        0.029470
1        0.719370        0.067616
2        0.195361        0.067514
3        0.979502        0.991398

#### Index Location method

In [8]:
df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.182837        0.029470
1        0.719370        0.067616
2        0.195361        0.067514
3        0.979502        0.991398